.address-list {
  max-width: 100%;
  margin: auto;
  font-family: sans-serif;
  padding: 15px;
  box-sizing: border-box;
}

.heading-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.addresses-heading {
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
  margin-left: 0px;
}

.add-address-btn {
  background-color: #3b82f6;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 16px;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
}


.addresses-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.addresses-list-items {
  background-color: #f7f9fc;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 12px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #334155;
  font-size: 15px; 
}

.edit-address-button {
  background-color: transparent;
  border: 2px solid #3b82f6;
  border-radius: 5px;
  padding: 12px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  height: 40px;
}

.delete-address-button {
  background-color:transparent;
  border: 2px solid #f50041;
  border-radius: 5px;
  padding: 12px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 10px;
  height: 40px;
  font-weight: 600;
}

@media (min-width: 668px) {
  .addresses-list-items {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 18px;
  }

  .delete-button {
    font-size: 15px;
    padding: 14px;
  }

  .edit-button {
    font-size: 15px;
    padding: 14px;
  }

  .address-add-btn {
    font-size: 16px;
    padding: 22px;
  }

  .addresses-heading {
    font-size: 28px;
  }
}


@media (min-width: 992px) {
  .address-list {
    max-width: 700px;
  }

   .addresses-list-items{
    font-size: 18px;
    padding: 22px;
  }

  .address-add-btn {
    font-size: 18px;
    padding: 26px;
  }

  .addresses-heading {
    font-size: 32px;
  }
}
